/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3rem;

    /*========== Colors ==========*/
    --first-color: #26A69A;
    --first-color-lighter: #ECF3F2;
    --title-color: #11443F;
    --text-color: #5B7B78;
    --body-color: #F5FFFE;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    --biggest-font-size: 3rem;
    --big-font-size: 1.25rem;
    --normal-font-size: .938rem;
    
    @media screen and (min-width: 1024px){
        --biggest-font-size: 5.5rem;
        --big-font-size: 2rem;
        --normal-font-size: 1rem;
    }

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== BASE ==========*/
*,::before,::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}
h1,h2,ul,p{
    margin: 0;  
}

ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

/*========== LAYOUT ==========*/
.main{
    position: relative;
}

.bd-container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/*========== HEADER ==========*/
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

/*========== NAV ==========*/
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and(max-width: 768px){
        &__menu{
            position: fixed;
            top: -100%;
            left: 0;
            right: 0;
            width: 90%;
            margin: 0 auto;
            text-align: center;
            padding-top: 1.5rem;
            background-color: var(--first-color-lighter);
            border-radius: 1rem;
            transition: .4s;
        }
    }
    &__logo,
    &__toggle{
        color: var(--body-color);
    }
    &__link{
        color: var(--first-color-dark);
        font-weight: var(--font-medium);
    }
    &__item{
        margin-bottom: 1.5rem;
    }
    &__toggle{
        font-size: 1.2rem;
        cursor: pointer;
    }
}

/* Show menu */
.show-menu{
    top: calc(var(--header-height) + 1rem);
}

/*========== INLANDS ==========*/
.islands{
    height: 100vh;
    position: relative;

    &__bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: center;
    }
    &__container{
        position: relative;
        height: 100%;
        display: grid;
        grid-template-columns: 2fr .25fr;
        align-content: center;
    }
    &__subtitle,
    &__title,
    &__description{
        color: var(--body-color);
    }
    &__subtitle{
        font-size: var(--big-font-size);
        font-weight: var(--font-medium);
    }
    &__title{
        font-size: var(--biggest-font-size);
    }
    &__description{
        margin-bottom: 1rem;
    }
    &__button{
        display: inline-flex;
        align-items: center;
        padding: 1rem 1.5rem;
        background-color: var(--body-color);
        color: var(--first-color);
        border-radius: .5rem;
        font-weight: var(--font-medium);

        &:hover{
            background-color: var(--first-color-lighter);
        }

        &-icon{
            font-size: 1.5rem;
            margin-left: .5rem;
        }
    }
    &__video{
        display: flex;
        align-items: flex-end;
        padding-bottom: .75rem;

        &-content{
            display: inline-flex;
            padding: .15rem;
            background-color: var(--body-color);
            border-radius: 50%;
            cursor: pointer;
        }

        &-icon{
            font-size: 1.8rem;
            color: var(--first-color);
        }
    }

    &__popup{
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--first-color-lighter);
        padding: 1rem .75rem;
        border-radius: 1rem;

        &-close{
            position: absolute;
            top: -.75rem;
            right: -.75rem;
            display: inline-flex;
            padding: .35rem;
            background-color: var(--first-color);
            color: var(--first-color-lighter)   ;
            font-size: 1.2rem;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}

/* Show popup*/
.show-popup{
    display: block;
}

/* Controls */
.controls{

    &__img{
        width: 35px;
        height: 35px;
        border-radius: .5rem;
        cursor: pointer;
    }

    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    padding: .25rem .5rem;
    background-color: var(--body-color);
    border-radius: .75rem;
    z-index: var(--z-tooltip);
    overflow: hidden;

    &__container{
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }
}

/* Active controls */
.swiper-slide-thumb-active{
    width: 45px;
    height: 45px;
}

/*========== MEDIA QUERIES ==========*/
/* For small devices */
@media screen and(max-width: 320px){
    .bd-container{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .controls__container{
        column-gap: .25rem;
    }

    .islands__popup-video{
        width: 230px;
        height: 100px;
    }
}

@media screen and(min-width: 768px){
    .nav {
        height: calc(var(--header-height) + 1.5rem);

        &__list{
            display: flex;
        }
        &__item{
            margin-right: 2rem;
            margin-bottom: 0;
        }
        &__link{
            color: var(--body-color);
        }
        &__toggle{
            display: none;
        }
    } 

    .islands{
        &__container{
            grid-template-columns: repeat(2,1fr);
        }
        &__description{
            padding-right: 5rem;
            margin-bottom: 2rem;
        }
        &__video{
            justify-content: center;
            align-items: center;
            padding: 0;

            &-icon{
                font-size: 3rem;
            }
        }

        &__popup{
            &-video{
                width: 500px;
                height: 250px;
            }
            &-close{
                font-size: 1.5rem;
            }
        }
    }


    .controls{
        padding: .5rem;
        border-radius: 1.25rem;

        &__container{
            column-gap: 1.5rem;
        }

        &__img{
            width: 45px;
            height: 45px;
            border-radius: .75rem;
        }
    }

    .swiper-slide-thumb-active{
        width: 55px;
        height: 55px;
    }
}

@media screen and(min-width: 1024px){
    .bd-container{
        margin-left: auto;
        margin-right: auto;
    }

    .islands__description{
        padding-right: 11rem;
    }
}

/* For tall screens on mobiles y desktop*/
@media screen and(min-height: 721px){
    .islands{
        height: 640px;
    }
}